table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.cardTitle {
  width: 100%;
}

button {
  margin-left: 5px;

}

.tableHeaderCellDiv {
  resize: horizontal;
  overflow: hidden;
}

h1 {
  font-weight: bolder;
  margin-top: 15px;
  color: blue;
}

.cadastro {
  width: 200px;
  display: flex;
  border-radius: 0;
}

.cad {
  margin-top: 15px;
}
