<div class="container">
  <mat-card class="mt-5 mat-elevation-z10">
    <mat-card class="card mat-elevation-z6">
      <mat-card-title class="title">Detalhe do Livro </mat-card-title>
    </mat-card>
    <form [formGroup]="bookForm">
      <div class="row offset-md-4"></div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-4">
          <div class="mt-5 d-flex justify-content-center">
            <img [src]="urlImage" height="100%" width="100%" />
          </div>
        </div>
        <div class="col-md-8 d-flex justify-content-center">
          <div class="form-group mt-5">
            <label>ISBN</label>
            <input
              class="form-control mb-3"
              type="text"
              name="isbn"
              formControlName="isbn"
              maxlength="13"
            />
            <label>Titulo do Livro</label>
            <input
              class="form-control mb-3"
              type="text"
              name="title"
              formControlName="title"
            />
            <label>Nome do Autor</label>
            <input
              class="form-control mb-3"
              type="text"
              name="author"
              formControlName="author"
            />
            <div class="row">
              <div class="col-md-6">
                <label>Editora</label>
                <input
                  class="form-control mb-3"
                  type="text"
                  name="company"
                  formControlName="company"
                />
              </div>
              <div class="col-md-6">
                <label>Quantidade</label>
                <input
                  class="form-control mb-3"
                  type="text"
                  name="amount"
                  formControlName="amount"
                  maxlength="3"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Lugar Estante</label>
                <input
                  class="form-control mb-3"
                  type="text"
                  name="positionShelf"
                  formControlName="positionShelf"
                />
              </div>
              <div class="col-md-6">
                <label>Faixa Etária</label>
                <input
                  class="form-control mb-3"
                  type="text"
                  name="ageGroup"
                  formControlName="ageGroup"
                />
              </div>
            </div>
            <label>Descrição do Livro</label>
            <br />
            <textarea
              cols="80"
              maxlength="300"
              rows="8"
              name="description"
              class="form-control"
              formControlName="description"
            ></textarea>
            <div class="mt-3 d-flex justify-content-center">
              <button class="btn btn-primary" (click)="voltar()">FECHAR</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>
