
<div class="wrapper">
      <div id="formContent">
          <h2 class="registre">Registre-se</h2>
        <form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
          <input type="text"  placeholder="Usuario"  formControlName="name"/>
          <app-mensagem
          *ngIf="novoUsuarioForm.get('name')?.errors?.required &&
          novoUsuarioForm.get('name')?.touched"
          mensagem="Usuário obrigatório"
          >
          </app-mensagem>
          <app-mensagem
          *ngIf="!!novoUsuarioForm.get('name')?.errors?.minLength"
          mensagem="Usuário precisa ter mais caracteres"
          >
          </app-mensagem>
          <input type="text" placeholder="Email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
          <app-mensagem
          *ngIf="novoUsuarioForm.get('email')?.errors?.required &&
          novoUsuarioForm.get('email')?.touched"
          mensagem="E-mail obrigatório"
          >
          </app-mensagem>
          <app-mensagem
          *ngIf="novoUsuarioForm.get('email')?.errors?.email &&
          novoUsuarioForm.get('email')?.touched || novoUsuarioForm.get('email')?.errors?.pattern"
          mensagem="E-mail no formato incorreto"
          >
          </app-mensagem>
          <input type="password" class="passwordLabel" maxlength="6"  placeholder="Senha" formControlName="password"/>
          <app-mensagem
          *ngIf="novoUsuarioForm.get('password')?.errors?.required &&
          novoUsuarioForm.get('password')?.touched"
          mensagem="Senha obrigatória"
          >
          </app-mensagem>
          <div>
            <button class="btn">CADASTRAR</button>
          </div>
          <p>Já um usuário? <a [routerLink]="['']"> Faça Login</a></p>
        </form>
      </div>
    </div>
